/* styles.css */
.password-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .password-container input {
    padding-right: 30px; /* Space for the eye icon */
  }
  
  .password-container .eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  